/* Dark Mode */
.dark-mode {
  background-color: #9a1b1b7d;
  color: #ffffff;
}



/* Add more styles for dark and light mode as needed */
.navbar{
  --bs-navbar-padding-y: 1.0rem;
  margin-bottom: 30px;
 
}