@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";

.nav-link.active {
  color: #FFCF3F !important;
}
.HeadarDashboard .nav-link.active{
  color: #c9643e !important;
  
}
.HeadarDashboard .nav{
  border-radius:20px;
}